p{
    color:rgb(255, 255, 255);
    font-size:large;
    font-weight:600;
    font-family: Arial, Helvetica, sans-serif;
}
body{
background-image: image-set("Lustrzanka-czy-aparat-kompaktowy_-Co-wybra-_.png");


}
